.layout {
  display: flex;
  justify-content: center;
  align-items: center;

  /* 화면 크기는 어떤 크기에 최적화 할 것인지? */
  width: 100vw;
  height: 100vh;

  background-color: white;
}

.layout input[type="text"],
.layout input[type="password"],
.layout input[type="date"],
.layout select {
  border: 2px solid black;
}

.joinbox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;

  /* 82cm 72cm 너무 큼 */
  width: 800px;
  height: 680px;

  padding-top: 40px;

  border: 2px solid black;
  border-radius: 2.3rem;

  background-color: white;

  color: #154a13;
  font-size: 48px;
  font-weight: bold;
}

.infocontainer {
  align-items: center;
  gap: 24px;

  flex-wrap: nowrap;
  width: 802px;
  height: 560px;

  border-radius: 2.3rem;

  overflow-y: scroll;
}

.infocontainer::-webkit-scrollbar,
.agreebox::-webkit-scrollbar {
  width: 32px;
  height: 0px;
}

.infocontainer::-webkit-scrollbar-thumb {
  background-image: url("../images/scrollbar1.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.agreebox::-webkit-scrollbar-thumb {
  background-image: url("../images/scrollbar2.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.infocontainer::-webkit-scrollbar-track,
.agreebox::-webkit-scrollbar-track {
  background-color: white;
  border: 2px solid black;
}

.infocontainer::-webkit-scrollbar-button:start:decrement,
.agreebox::-webkit-scrollbar-button:start:decrement {
  display: block;
  height: 32px;

  background-image: url("../images/expand-up.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.infocontainer::-webkit-scrollbar-button:end:increment,
.agreebox::-webkit-scrollbar-button:end:increment {
  display: block;
  height: 32px;

  background-image: url("../images/expand-down.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.infobox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;

  width: 780px;
  height: 120px;

  padding-left: 40px;
  margin-top: 24px;

  box-sizing: border-box;
}

.infobox:first-child {
  margin-top: 0px;
}

.infobox:nth-child(3) > div {
  margin-left: 24px;
}

.infobox:nth-last-child(4) {
  margin-bottom: 56px;
}

.infobox:nth-last-child(2) {
  height: 400px;
  flex-direction: column;

  justify-content: center;
}

.infobox:last-child {
  justify-content: center;
}

.infobox:nth-last-child(2) > div:first-child {
  font-weight: bold;
}

.infobox,
.infobox > input {
  font-size: 32px;
}

.infobox > label {
  width: 160px;
  text-align: center;
}

.infobox:nth-last-child(2) > label {
  width: 400px;
  text-align: center;
}

.idpwd {
  text-align: center;
  line-height: 86px;

  width: 360px;
  height: 80px;

  border-radius: 1.6rem;
}

.name {
  text-align: center;
  line-height: 86px;

  width: 200px;
  height: 80px;

  border-radius: 1.6rem;
}

.gender {
  width: 28px;
  height: 28px;

  display: none;
}

.gender + span {
  display: inline-block;
  padding: 8px 24px;
  border: 2px solid black;
  background-color: white;
  margin: -1px;
  text-align: center;
  cursor: pointer;
}

.gender:checked + span {
  background-color: #154a13;
  color: #ffffff;
}

.birth {
  text-align: center;
  line-height: 86px;

  width: 240px;
  height: 80px;

  border-radius: 1.6rem;
}

.infobox:nth-last-child(3) {
  height: 200px;
}

.company,
.account {
  text-align: center;
  line-height: 86px;

  width: 220px;
  height: 86px;

  border-radius: 1.6rem;
  font-size: 32px;
}

.account {
  width: 290px;
  height: 80px;

  margin-left: -16px;
}

.appinfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 72px;

  height: 240px;
  margin-top: 32px;
}

.appinfo > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;

  width: 320px;
  height: 60px;
}

.appinfo > div {
  width: 600px;
}

.appinfo > div > label {
  width: 160px;
  text-align: center;
}

.appkey {
  text-align: center;
  line-height: 86px;

  width: 360px;
  height: 80px;

  border-radius: 1.6rem;

  font-size: 32px;
}

.appsecret {
  text-align: center;
  line-height: 86px;

  width: 360px;
  height: 80px;

  border-radius: 1.6rem;

  font-size: 32px;
}

.agreebox {
  width: 704px;
  height: 400px;

  border: 2px solid black;
  border-radius: 0.5rem;

  font-size: 18px;
  font-weight: normal;

  white-space: pre-wrap;
  overflow-y: scroll;
}

.agreebox > div {
  float: right;
  margin-top: 64px;
}

.agreebox > div > input {
  width: 18px;
  height: 18px;
}

.join {
  width: 160px;
  height: 80px;

  border: 1px solid #a2a2a2;
  box-sizing: border-box;
  border-radius: 2.3rem;

  text-align: center;
  align-items: center;

  font-size: 32px;
  color: #154a13;
}
