.layout {
  display: flex;
  justify-content: center;
  align-items: center;

  /* 화면 크기는 어떤 크기에 최적화 할 것인지? */
  width: 1920px;
  height: 100vh;

  background-color: white;
}

.layout * {
  color: #154a13;
}

.layout input[type="text"],
.layout input[type="password"],
.layout input[type="date"],
.layout select {
  border: 3px solid black;

  color: black;
  font-weight: bold;
}

.layout ::placeholder {
  color: black;
  font-weight: bold;
}

.joinbox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;

  width: 1135px;
  height: 872px;

  padding-top: 40px;

  border: 2px solid black;
  border-radius: 3.3rem;

  background-color: white;

  color: #154a13;
  font-size: 48px;
  font-weight: bold;
}

.joinbox label {
  font-weight: bold;
}

.infocontainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;

  flex-wrap: nowrap;
  width: 1139px;
  height: 652px;

  border-radius: 2.3rem;

  overflow-y: scroll;
}

.infocontainer::-webkit-scrollbar,
.agreetext::-webkit-scrollbar {
  width: 32px;
}

.infocontainer::-webkit-scrollbar-thumb {
  background-image: url("../images/scrollbar1.png");
  background-size: 32px 100%;
  background-repeat: no-repeat;
}

.agreetext::-webkit-scrollbar-thumb {
  background-image: url("../images/scrollbar2.png");
  background-size: 33px 102%;
  background-repeat: no-repeat;
  height: 30%;
}

.infocontainer::-webkit-scrollbar-track,
.agreetext::-webkit-scrollbar-track {
  background-color: white;
  border-right: 2px solid black;
  border-left: 2px solid black;
  overflow: hidden;
}

.infocontainer::-webkit-scrollbar-button:start:decrement,
.agreetext::-webkit-scrollbar-button:start:decrement {
  display: block;
  height: 32px;

  background-image: url("../images/expand-up.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.infocontainer::-webkit-scrollbar-button:end:increment,
.agreetext::-webkit-scrollbar-button:end:increment {
  display: block;
  height: 32px;
  background-image: url("../images/expand-down.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.infobox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;

  width: 1000px;
  height: 110px;

  padding-left: 40px;

  box-sizing: border-box;
}

.infobox:first-child {
  margin-top: 0px;
}

.infobox:nth-child(3) > div {
  margin-left: 24px;
}

.infobox:nth-last-child(4) {
  margin-bottom: 56px;
}

.infobox:nth-last-child(2) {
  height: 600px;
  flex-direction: column;

  justify-content: center;
  margin-top: 64px;
}

.infobox:last-child {
  justify-content: center;
}

.infobox:nth-last-child(2) > div:first-child {
  font-weight: bold;
}

.infobox,
.infobox > input {
  font-size: 32px;
}

.infobox > label {
  width: 160px;
  text-align: center;
}

.infobox:nth-last-child(2) > label {
  width: 400px;
  text-align: center;
}

.id {
  text-align: center;
  line-height: 108px;

  width: 437px;
  height: 92px;

  border-radius: 1.6rem;
}

.pwd {
  text-align: center;
  line-height: 108px;

  width: 467px;
  height: 100px;

  border-radius: 1.6rem;
}

.name {
  text-align: center;
  line-height: 86px;

  width: 300px;
  height: 92px;

  border-radius: 1.6rem;
}

.gender {
  display: none;
}

.gender + span {
  display: inline-block;
  padding: 15px 38.5px;
  border: 3px solid black;
  background-color: white;
  margin: -1px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.gender:checked + span {
  background-color: #154a13;
  color: #ffffff;
}

.birth {
  text-align: center;
  line-height: 86px;

  width: 330px;
  height: 100px;

  border-radius: 1.6rem;
}

.company,
.account {
  text-align: center;
  line-height: 86px;

  width: 342px;
  height: 100px;

  border-radius: 1.6rem;
  font-size: 32px;
}

.account {
  width: 332px;
  height: 92px;

  margin-left: -8px;
}

.appinfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 64px;

  width: 1020px;
  /* height: 240px; */
  margin-top: 8px;
}

.appinfo > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;

  width: 320px;
  height: 60px;
}

.appinfo > div:nth-last-child(2) {
  width: 800px;
}

.appinfo > div > label {
  width: 160px;
  text-align: center;
}

.appinfo > div:first-child > label {
  margin-left: 16px;
}

.appinfo > div:last-child > label {
  margin-left: 16px;
}

.appkey {
  text-align: center;
  line-height: 86px;

  width: 332px;
  height: 92px;

  border-radius: 1.6rem;
  margin-left: 16px;

  font-size: 32px;
}

.applink {
  text-align: center;
  line-height: 92px;

  width: 332px;
  height: 102px;

  border-radius: 1.6rem;

  font-size: 32px;
  font-weight: bold;
  text-decoration: underline;

  cursor: pointer;
}

.applink:hover {
  background-color: #154a13;
  color: white;
}

.appsecret {
  text-align: center;
  line-height: 86px;

  width: 332px;
  height: 92px;

  margin-left: 1px;
  border-radius: 1.6rem;

  font-size: 32px;
}

.agreetext {
  width: 889px;
  height: 300px;

  margin-right: -2px;

  white-space: pre-wrap;
  overflow-y: scroll;
  /* background-color: aquamarine; */
}

.agreebox {
  width: 894px;
  height: 388px;

  border: 3px solid black;
  border-radius: 1.3rem;
  box-sizing: border-box;

  font-size: 18px;
  font-weight: normal;
}

.agreebox > div {
  float: right;
  margin-top: 32px;
}

.agreebox > div:last-child {
  margin-top: 10px;
  margin-right: 4px;
}

.agreebox > div > input,
.agreebox > div > label {
  width: 24px;
  height: 24px;

  font-size: 24px;
}

input[type="radio"]:checked {
  background-image: url("../images/checkedbox.png");
}

input[type="radio"] {
  background-image: url("../images/uncheckedbox.png");
  background-size: contain;
  background-repeat: no-repeat;
  appearance: none;
}

.join {
  background-color: #154a13;

  width: 284px;
  height: 113px;

  border: 1px solid #a2a2a2;
  box-sizing: border-box;
  border-radius: 2.3rem;

  text-align: center;
  align-items: center;

  font-size: 32px;
  color: white;

  cursor: pointer;
}

.join:disabled {
  background-color: white;

  width: 284px;
  height: 113px;

  border: 1px solid #a2a2a2;
  box-sizing: border-box;
  border-radius: 2.3rem;

  text-align: center;
  align-items: center;

  font-size: 32px;
  color: #154a13;

  cursor: auto;
}
